**/WAVECAR filter=lfs diff=lfs merge=lfs -text
**/CHGCAR filter=lfs diff=lfs merge=lfs -text
**/CHG filter=lfs diff=lfs merge=lfs -text
0_Lattice_Reference/E_Graphene-BC3_Bridge/OUTCAR filter=lfs diff=lfs merge=lfs -text
0_Lattice_Reference/G_Graphene-B4C3_Bridge/OUTCAR filter=lfs diff=lfs merge=lfs -text
0_Lattice_Reference/G_Graphene-B4C3_Hollow2/OUTCAR filter=lfs diff=lfs merge=lfs -text
0_Lattice_Reference/G_Graphene-B4C3_Hollow1/OUTCAR filter=lfs diff=lfs merge=lfs -text
4_PDoS/E_Graphene-BC3_HSE/vasprun.xml filter=lfs diff=lfs merge=lfs -text
